{% extends 'index.html' %}

{% block content %}
<main class="tariff">
  <h2 class="title">
    Услуга: {{service.title}}
  </h2>
    <div class="tariff-form">
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_div}}
            <button type="submit" class="save btn btn-primary mt-4" style="width:100%">Save</button>
        </form>
        <form method="POST" class="post-form" action="{% url 'services:delete-service' pk=service.id %}">
            {% csrf_token %}
            <button type="submit" class="save btn btn-danger mt-4" style="width:100%">Delete</button>
        </form>
    </div>
</main>
{% endblock content %}
